*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/CodeReadingNote.xml
/.idea/deploymentTargetDropDown.xml
/.idea/kotlinc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/migrations.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/google-services.json
/app/src/live/google-services.json
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
**.keystore

/app/src/main/java/tmg/hourglass/ReleaseNotes.kt
/app/src/main/res/values/release-notes.xml