*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
/app/google-services.json
/app/src/live/google-services.json
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
**.keystore

/app/src/main/java/tmg/hourglass/ReleaseNotes.kt
/app/src/main/res/values/release-notes.xml