<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>
        <receiver
            android:name=".NotificationBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="tmg.hourglass.notifications.TRIGGER_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
