<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".presentation.single.configure.CountdownConfigurationActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.multiple.configure.CountdownsConfigurationActivity"
            android:exported="false" />

        <receiver
            android:name=".presentation.single.CountdownWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_single_widget" />

        </receiver>

        <receiver
            android:name=".presentation.multiple.CountdownsWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_multiple_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_multiple_widget" />

        </receiver>

    </application>

</manifest>