<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application>

        <meta-data
            android:name="com.google.android.wearable"
            android:value="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <service
            android:name=".CountdownComplicationProviderService"
            android:exported="true"
            android:icon="@drawable/ic_watch"
            android:label="A Test"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">

            <intent-filter>
                <action android:name="androidx.wear.watchface.complications.datasource.ComplicationDataSourceService" />
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT,LONG_TEXT" />

            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="3600" />

        </service>

        <receiver android:name=".CountdownBroadcastReceiver" />

    </application>

</manifest>