<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmg.hourglass">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="tmg.hourglass.HourGlassApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:exported="true"
            android:name="tmg.hourglass.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="tmg.hourglass.dashboard.DashboardActivity" />

        <activity android:name="tmg.hourglass.modify.ModifyActivity" />

        <activity android:name="tmg.hourglass.modify_old.ModifyActivity" />

        <activity android:name="tmg.hourglass.settings.SettingsActivity" />

        <activity android:name="tmg.hourglass.settings.release.ReleaseActivity" />

        <activity android:name="tmg.hourglass.settings.privacy.PrivacyPolicyActivity" />

        <activity
            android:name="tmg.aboutthisapp.AboutThisAppActivity"
            android:theme="@style/AppTheme.AboutThisApp" />

        <!-- Widget -->

        <!-- Bar Dark -->

        <activity
            android:name=".widget.bar.dark.WidgetBarDarkPickerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:exported="false"
            android:name=".widget.bar.dark.WidgetBarDarkProvider"
            android:label="@string/widget_bar_label_dark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_dark" />
        </receiver>

        <!-- Bar Light -->

        <activity
            android:exported="true"
            android:name="tmg.hourglass.widget.bar.light.WidgetBarLightPickerActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:exported="false"
            android:name="tmg.hourglass.widget.bar.light.WidgetBarLightProvider"
            android:label="@string/widget_bar_label_light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_light" />
        </receiver>

        <!-- Circle Dark -->

        <activity
            android:exported="true"
            android:name="tmg.hourglass.widget.circle.light.WidgetCircleLightPickerActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:exported="false"
            android:name="tmg.hourglass.widget.circle.light.WidgetCircleLightProvider"
            android:label="@string/widget_circle_label_light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_circle_light" />
        </receiver>

        <!-- Circle Light -->

        <activity
            android:exported="true"
            android:name="tmg.hourglass.widget.circle.dark.WidgetCircleDarkPickerActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:exported="false"
            android:name="tmg.hourglass.widget.circle.dark.WidgetCircleDarkProvider"
            android:label="@string/widget_circle_label_dark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_circle_dark" />
        </receiver>


    </application>

</manifest>