<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmg.hourglass">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="tmg.hourglass.HourGlassApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">

        <activity
            android:name="tmg.hourglass.SplashActivity"
            android:theme="@style/LightTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="tmg.hourglass.home.HomeActivity" />

        <activity android:name="tmg.hourglass.modify.ModifyActivity" />

        <activity android:name="tmg.hourglass.settings.SettingsActivity" />

        <activity android:name="tmg.hourglass.settings.release.ReleaseActivity" />

        <activity android:name="tmg.hourglass.settings.privacy.PrivacyPolicyActivity" />

        <activity android:name="tmg.components.about.AboutThisAppActivity"
            android:theme="@style/DarkTheme" />

        <!-- Widget -->

        <activity android:name=".widget.dark.ItemWidgetDarkPickerActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name=".widget.light.ItemWidgetLightPickerActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.light.ItemWidgetLightProvider"
            android:label="@string/widget_label_light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_light" />
        </receiver>

        <receiver
            android:name=".widget.dark.ItemWidgetDarkProvider"
            android:label="@string/widget_label_dark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_dark" />
        </receiver>

    </application>

</manifest>