name: Job - Deploy

on:
  workflow_call:
    inputs:
      version_name: { required: true, type: string }
      version_code: { required: true, type: string }
    outputs:
      artifact-name:
        value: ${{ jobs.build.outputs.artifact-name }}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    permissions:
      contents: write
    steps:
      # Checkout
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Setup Java 21
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'

      # Caching gradle
      - uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/*.toml*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # Environment
      - name: Environment variables
        run: |
          echo ${{ secrets.ENCODED_GOOGLE_SERVICES_LIVE }} | base64 --decode >> app/src/live/google-services.json

      # Building version
      - name: Building version
        run: |
          echo Version name: ${{ inputs.version_name }}
          echo Version code: ${{ inputs.version_code }}

      # Assemble AAB
      - name: Assemble APK
        env:
          VERSION_NAME: ${{ inputs.version_name }}
          VERSION_CODE: ${{ inputs.version_code }}
        run: |
          ./gradlew :app:assembleLiveRelease

      # Assemble AAB
      - name: Assemble bundle
        env:
          VERSION_NAME: ${{ inputs.version_name }}
          VERSION_CODE: ${{ inputs.version_code }}
        run: |
          ./gradlew :app:bundleLiveRelease

      # Sign AAB
      - name: Sign app
        uses: r0adkll/sign-android-release@v1
        id: sign_aab
        with:
          releaseDirectory: app/build/outputs/bundle/liveRelease
          signingKeyBase64: ${{ secrets.ENCODED_KEYSTORE }}
          alias: ${{ secrets.KEYSTORE_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEYSTORE_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "36.0.0"

      # Sign APK
      - name: Sign app
        uses: r0adkll/sign-android-release@v1
        id: sign_apk
        with:
          releaseDirectory: app/build/outputs/apk/live/release
          signingKeyBase64: ${{ secrets.ENCODED_KEYSTORE }}
          alias: ${{ secrets.KEYSTORE_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEYSTORE_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "36.0.0"

      # Upload signed artifact info
      - name: Upload artifact info
        uses: actions/upload-artifact@v6
        with:
          name: AAB
          path: |
            androidApp/build/outputs/bundle/**/*.aab
            androidApp/build/outputs/apk/**/*.apk
            androidApp/build/outputs/mapping/**/mapping.txt

      # Deploy
      - name: Deploy Bundle to google Play
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT }}
          packageName: tmg.hourglass
          releaseFiles: app/build/outputs/bundle/**/*.aab
          track: internal
          whatsNewDirectory: release-notes
          status: "completed"
          mappingFile: app/build/outputs/mapping/liveRelease/mapping.txt

      # Rename signed APK
      - name: Rename signed apk
        run: |
          mv app/build/outputs/apk/live/release/app-live-release-unsigned-signed.apk app/build/outputs/apk/live/release/android.apk
          mv app/build/outputs/bundle/liveRelease/app-live-release.aab app/build/outputs/bundle/liveRelease/android.aab

      # Add artifact to tag
      - name: Upload file to github tag
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            app/build/outputs/apk/live/release/android.apk
            app/build/outputs/bundle/liveRelease/android.aab