name: Release
env:
  RUN_OFFSET: 4
'on':
  release:
    types: [published]
  workflow_dispatch:
jobs:

  json_checker:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: json-syntax-check
        uses: limitusus/json-syntax-check@v2
        with:
          pattern: "\\.json$"

  unit_tests:
    uses: ./.github/workflows/job-unit-tests.yml
    secrets: inherit

  versions:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      version_name: ${{ steps.get_version_name.outputs.version_name }}
      version_code: ${{ steps.get_version_name.outputs.version_code }}
    steps:
      - name: Version Name
        id: get_version_name
        run: |
          echo "version_name=$(echo $GITHUB_REF | cut -d / -f 3)" >> $GITHUB_OUTPUT
          echo "version_code=$((${{ github.run_number }} + $RUN_OFFSET))" >> $GITHUB_OUTPUT

  deploy:
    needs: [unit-tests, versions]
    uses: ./.github/workflows/job-deploy.yml
    secrets: inherit
    with:
      version_name: ${{ needs.versions.outputs.version_name }}
      version_code: ${{ needs.versions.outputs.version_code }}

  discord_notify:
    runs-on: ubuntu-latest
    needs: deploy
    steps:

      # Checkout
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Version tag
      - name: Version Name
        id: get_version_name
        run: echo "VERSION=$(echo $GITHUB_REF | cut -d / -f 3)" >> $GITHUB_OUTPUT

      # Version code
      - name: Version Code
        id: get_version_code
        run: echo "VERSION=$((${{ github.run_number }} + $RUN_OFFSET))" >> $GITHUB_OUTPUT

      - name: Notify discord of success
        uses: sarisia/actions-status-discord@v1.16.0
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          nodetail: true
          title: "Android: Release ${{ steps.get_version_name.outputs.VERSION }} (${{ steps.get_version_code.outputs.VERSION }}) deployed"
          description: |
            Github Action [#${{ github.run_number }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
            [Google Play](https://play.google.com/console/u/0/developers/7104925501019224102/app/4972386210601361096/app-dashboard)
          color: 0x3dc91a
