name: Release
env:
  RUN_OFFSET: 4
'on':
  release:
    types: [published]
  workflow_dispatch:
jobs:

  json_checker:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: json-syntax-check
        uses: limitusus/json-syntax-check@v2
        with:
          pattern: "\\.json$"

  unit_tests:
    uses: ./.github/workflows/job-unit-tests.yml
    secrets: inherit

  versions:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      version_name: ${{ steps.get_version_name.outputs.version_name }}
      version_code: ${{ steps.get_version_name.outputs.version_code }}
    steps:
      - name: Version Name
        id: get_version_name
        run: |
          echo "version_name=$(echo $GITHUB_REF | cut -d / -f 3)" >> $GITHUB_OUTPUT
          echo "version_code=$((${{ github.run_number }} + $RUN_OFFSET))" >> $GITHUB_OUTPUT

  deploy:
    runs-on: ubuntu-latest
    needs: [unit_tests,json_checker,versions]
    steps:
      # Checkout
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          
      # Setup Java 21
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'

      # Caching gradle
      - uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/*.toml*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # Environment
      - name: Environment variables
        run: |
          echo ${{ secrets.ENCODED_GOOGLE_SERVICES_LIVE }} | base64 --decode >> app/src/live/google-services.json
          echo ${{ secrets.ENCODED_KEYSTORE }} | base64 --decode >> hour-glass.keystore
          echo ${{ secrets.ENCODED_DEPLOYMENT_KEY }} | base64 --decode >> deployment_private_key.json

      # Building version
      - name: Building version
        run: |
          echo Version name: ${{ needs.versions.version_name }}
          echo Version code: ${{ needs.versions.version_code }}

      # Assemble AAB
      - name: Assemble APK
        env:
          VERSION_NAME: ${{ needs.versions.version_name }}
          VERSION_CODE: ${{ needs.versions.version_code }}
        run: |
          ./gradlew :app:assembleProductionRelease

      # Assemble AAB
      - name: Assemble bundle
        env:
          VERSION_NAME: ${{ needs.versions.version_name }}
          VERSION_CODE: ${{ needs.versions.version_code }}
        run: |
          ./gradlew :app:bundleProductionRelease

      # Sign AAB
      - name: Sign app
        uses: r0adkll/sign-android-release@v1
        id: sign_aab
        with:
          releaseDirectory: app/build/outputs/bundle/productionRelease
          signingKeyBase64: ${{ secrets.ENCODED_KEYSTORE }}
          alias: ${{ secrets.KEYSTORE_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEYSTORE_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "36.0.0"

      # Sign APK
      - name: Sign app
        uses: r0adkll/sign-android-release@v1
        id: sign_apk
        with:
          releaseDirectory: app/build/outputs/apk/production/release
          signingKeyBase64: ${{ secrets.ENCODED_KEYSTORE }}
          alias: ${{ secrets.KEYSTORE_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEYSTORE_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "36.0.0"

      # Upload signed artifact info
      - name: Upload artifact info
        uses: actions/upload-artifact@v6
        with:
          name: AAB
          path: |
            androidApp/build/outputs/bundle/**/*.aab
            androidApp/build/outputs/apk/**/*.apk
            androidApp/build/outputs/mapping/**/mapping.txt

      # Deploy
      - name: Deploy Bundle to google Play
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT }}
          packageName: tmg.hourglass
          releaseFiles: app/build/outputs/bundle/**/*.aab
          track: internal
          whatsNewDirectory: release-notes
          status: "completed"
          mappingFile: app/build/outputs/mapping/productionRelease/mapping.txt

      # Rename signed APK
      - name: Rename signed apk
        run: |
          mv app/build/outputs/apk/production/release/app-production-release-unsigned-signed.apk app/build/outputs/apk/production/release/android.apk
          mv app/build/outputs/bundle/productionRelease/app-production-release.aab app/build/outputs/bundle/productionRelease/android.aab

      # Add artifact to tag
      - name: Upload file to github tag
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            app/build/outputs/apk/production/release/android.apk
            app/build/outputs/bundle/productionRelease/android.aab

  discord_notify:
    runs-on: ubuntu-latest
    needs: deploy
    steps:

      # Checkout
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Version tag
      - name: Version Name
        id: get_version_name
        run: echo "VERSION=$(echo $GITHUB_REF | cut -d / -f 3)" >> $GITHUB_OUTPUT

      # Version code
      - name: Version Code
        id: get_version_code
        run: echo "VERSION=$((${{ github.run_number }} + $RUN_OFFSET))" >> $GITHUB_OUTPUT

      - name: Notify discord of success
        uses: sarisia/actions-status-discord@v1.16.0
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          nodetail: true
          title: "Android: Release ${{ steps.get_version_name.outputs.VERSION }} (${{ steps.get_version_code.outputs.VERSION }}) deployed"
          description: |
            Github Action [#${{ github.run_number }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
            [Google Play](https://play.google.com/console/u/0/developers/7104925501019224102/app/4972386210601361096/app-dashboard)
          color: 0x3dc91a
